<form action="\category" method="post">
    <h1>Cadastro de Categoria</h1>
    <p>Ãcone:</p>
    <input type="text" name="icone" id="inIcone">
    <p>Nome:</p>
    <input type="text" name="nome" id="inNome"> 
    <input type="submit" value="Enviar"  >
</form>