<form action="\products" method="post">
    <h1>Cadastro de Produtos</h1>
    <p>Ícone:</p>
    <input type="text" name="icone" id="inIcone">
    <p>Nome:</p>
    <input type="text" name="nome" id="inNome"> 
    <p>Descrição:</p>
    <input type="text" name="description" id="inDesc">
    <p>Imagem:</p>
    <input type="image" name="image" id="inImage">
    <p>Preço: </p>
    <input type="text" name="preco" id="inPreco">
    <p>Categoria</p>
    <input type="text" name="fkCategory" id="inFk">
    <input type="submit" value="Enviar">
</form>